.publication {
    .header {
        height: 700px;
        background-image: url(../../../assets/image/SmiAbout_images/smi-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .head ul {
        display: flex;
        align-items: center;
        justify-content: start;
        list-style-type: none;
        padding: 40px 0;

        li {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 5%;
            color: #FFFFFF;
            margin: 0 20px;
        }

        button {
            border: none;
            background: none;
            cursor: pointer;
        }

        select {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 5%;
            color: #FFFFFF;
            border: none;
            outline: none;
            margin: 0 20px;
            background: none;
        }
    }

    .hero {
        margin-top: 230px;

        .hero__inner {
            margin-left: 13%;
    
            a {
                font-size: 15px;
                font-weight: 600;
                letter-spacing: 15%;
                text-decoration: none;
                color: #FFFFFF;
            }

            span {
                color: #FFFFFF;
                display: inline-block;
                margin: 0 20px;
            }
    
            h2 {
                font-size: 60px;
                font-weight: 600;
                color: #FFFFFF;
            }
        }

        .social-media {
            display: flex;
            flex-direction: column;
            margin: 20px 0;

            img {
                margin: 5px 0;
            }
        }
    }

    .footer {
        background: #091D2B;

        .footer-list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 60px 0;


            .footer-item {
                h3 {
                    font-size: 15px;
                    font-weight: 600;
                    color: #FFFFFF;
                    margin-bottom: 30px;
                }

                .text {
                    display: block;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 22px;
                    color: #FFFFFF;
                    width: 349px;
                }

                .open {
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 4%;
                    color: #BC863D;
                    text-decoration: none;
                    display: block;
                    margin-top: 10px;
                }

                .phone-number {
                    font-size: 15px;
                    font-weight: 600;
                    color: #FFFFFF;
                    text-decoration: none;
                    display: block;
                    margin-top: 20px;
                }

                .email {
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 4%;
                    color: #BC863D;
                    text-decoration: none;
                    display: block;
                    margin-top: 10px;
                }

                .social-media {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                }

                a {
                    font-size: 15px;
                    font-weight: 300;
                    color: #BC863D;
                    display: block;
                    text-decoration: none;
                    margin: 20px 0;
                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: #FFFFFF;
                    display: block;
                    margin: 20px 0;
                }
            }
        }
    }

    .footer-inner {
        width: 100%;
        border-top: 1px solid #FFFFFF;
        padding: 40px 0;

        .block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .right {
                display: flex;
                align-items: center;

                h4 {
                    font-size: 14px;
                    font-weight: 300;
                    color: #FFFFFF;
                }

                span {
                    width: 1px;
                    height: 17px;
                    background: #FFFFFF;
                    display: block;
                    margin: 0 20px;
                }
            }

            .left span {
                font-size: 14px;
                font-weight: 300;
                color: #FFFFFF;
            }
        }
    }
}